.model__vertical {
    display: flex;
    flex-direction: column;
}

.model__horizontal {
    display: flex;
}

.model__vertical,
.model__horizontal {
    gap: 1.5rem;
}

.model__center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.model__break {
    flex-wrap: wrap;
}

.add-background {
    background: var(--add-background);
}

.restart-background {
    background: var(--restart-background);
}

.random-background {
    background: var(--random-background);
}

.success-background {
    background: var(--success-background);
}

.danger-background {
    background: var(--danger-background);
}