.content {
    padding: 3rem 10rem;
}

.javascript-background {
    background: #F7DF1E;
    color: var(--background-color);
    font-weight: bold;
    padding: 0.4rem 1rem;
}

.project {
    margin-top: 1.5rem;
}

.projects {
    border: 0.3rem solid var(--color-font);
    padding: 1.5rem;
    border-radius: 1.5rem;
    flex: 1 1 30%;
}

.projects .content__button:hover {
    background: var(--color-font);
    color: var(--background-color);
}

.content__subtitle {
    font-size: 1.5rem;
}

@media screen and (max-width: 912px) {
    .content {
        padding: 3rem;
    }
}
